table {
    display: flex;
    justify-content: center;
    align-items: center;
}

tr {
    display: flex;
    justify-content: center;
    align-items: center;
}

td {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 80px;
    height: 80px;
    border-radius: 3px;
    box-shadow: 3px 3px 5px black;
    background-color: #1b70b6;
    font-size: 4.5rem;
    color: beige;
}

td > img {
    max-width: 58px;
    max-height: 58px;
}